.favorites {
    display: flex;
    margin-top: 50px;
}

.favoritesClearIcon {

}

.favoritesClearIcon:hover {
    color: red;
    transform: scale(1.2);
    cursor: pointer;
}

.favoritesClearIcon:active {
    transform: scale(0.8);
}