.genres {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    justify-content: center;
    width: 50%;
    align-self: center;
}

.genre {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid slateblue;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
    border-radius: 20px;
    cursor: pointer;
    margin: 2px;
    position: relative;
    text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.6);
}

.genreInner {
    display: flex;
    align-items: center;
    padding: 5px;
    outline: 3px solid darkturquoise;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    visibility: hidden;
}

.genre:hover {
    visibility: hidden;
}
.genre:hover .genreInner {
    visibility: visible; 
}

.genreInner.selected {
    background-color: cornflowerblue;
}

.genreInner span {
    
    font-weight: bold;
}

.genreInner genreIcon {
   font-weight: bold;
}
 
.genre.selected {
    background-color: cornflowerblue;
}

.genreIcon {
    padding: 3px;
    transform: scale(0.9)
}
