.movie {
    background-color: var(--myRegularBlue);
    margin: 20px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
    overflow: hidden;
    max-width: 300px;
    position: relative;
}

    .movie img {
        max-width: 100%;
    }

.movieList {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--myDarkBlue);
    justify-content: center;
    margin-top: 10px;
}

.titleAndRatingWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-weight: bold;
}

.details {
    display: flex;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-decoration: underline;
    cursor: pointer;
}

.title {
    display: flex;
    padding: 1rem;
    color: white;
    text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.6);
}

.rating {
    display: flex;
    margin-right: 10px;
    padding: 2.5px;
    
}

.green {
    color: var(--myGreen);
}

.orange {
    color: var(--myOrange);
}

.red {
    color: var(--myRed);
}

.favoriteIcon {
    padding: 1rem 1.2rem 1rem 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}
    .favoriteIcon:hover {
        transform: scale(1.3);
    }
    .favoriteIcon:active {
        transform: scale(0.8);
    }

    .favoriteIcon.pink {
        color: lightpink;
    }

.detailsAndFavWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.5rem 0 0.5rem;
    margin-top: auto;
}

.openInFull {
    padding: 1rem 1rem 1rem 1.2rem;
    transform: scale(.8);
    position: absolute;
    bottom: 0;
    left: 0;
}

    .openInFull:hover {
        transform: scale(1.1);
    }

.overview {
    position: absolute;
    background-color: white;
    color: black;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    /* creates scroll bar when overview content is large */
    overflow: auto;
    max-height: 100%;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(0, 0, 0, 0.75);
    
}

.contentWrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.imgWrap {
    display: flex;
}

.genresModalWrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.genresModal {
    padding: 0 0.5rem 0 0.5rem;
}

.movieModalWrap {
    display: flex;
    justify-content: center;
    background-color: var(--myDarkBlue);
    border-radius: 20px;
    max-height: 700px;
    overflow: auto;
    flex-shrink: 1;
}

.overviewModal {
    display: flex;
    overflow: auto;
    padding: 1rem;
    color: white;
    background-color: var(--myDarkBlue);
    max-width: 30%;
    flex-direction: column;
    flex-shrink: 1;
}

.dateWrap {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.movieModal {
    background-color: var(--myRegularBlue);
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    max-height: 700px;
    margin: 20px;
}

.modalClose {
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.modalClose:hover {
    color: red;
    transform: scale(1.2);
}

.releaseDate {
    padding: 0.5rem 1rem 1rem 1rem;
}

.trailerWrap {
    display: flex;
}

.trailerLink {
    padding: 0.5rem 1rem 1rem 1rem;
}

    .trailerLink:focus, :active, :visited {
        color: white;
    }

    .trailerLink:hover {
        color: lightseagreen;
    }

.openInNew {
    padding-left: 0.5rem;
    transform: scale(.8)
}

