.nav {
    display: flex;
    font-size: 1.5rem;
}

    .nav li {
        list-style-type: none;
        padding: 30px;
        text-decoration-line: none;
    }

    .nav a {
        text-decoration-line: none;
    }

        .nav a:hover {
            color: darkturquoise;
        }

.navLink {
    color: white;
}

.navLink.currPage {
    color: darkturquoise;
}

