.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--myDarkBlue);
  color: white;
  letter-spacing: 1px;
}

/* Movie */
:root {
    /* color variables */
    --myDarkBlue: darkslateblue;
    --myRegularBlue: slateblue;
    --myRed: red;
    --myOrange: darkorange;
    --myGreen: lawngreen;
}

/* StickyHeader */

.header {
    display: flex;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: var(--myRegularBlue);
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 999;
}

.sortBy {
    display: flex;
    margin-left: 50px;
    border: solid 2px var(--myDarkBlue);
    border-radius: 10px;
    flex-direction: column;
    width: 110px;
    /*position: relative;*/
    color: black;
    font-weight: bold;
    
}
    .sortBy span {
         
    }
.sortAndIconWrap {
    display: flex;
    position: relative;
    cursor: pointer;
    margin: auto;
}
.sortOptions {
    display: none;
    color: white;
    position: absolute;
    text-align: center;
}
    .sortOptions.open {
        display: block;   
    }

.sortOptions ul {
    list-style-type: none;
    padding: 5px;
}

.sortOptions li {
    
    padding: 3px 0px 3px 0px;
    
}

.sortOptions li:hover {
    color: lightgrey;
}

.searchBarWrap {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.searchBar {
    height: 20px;
    border: 2px solid var(--myDarkBlue);
    border-radius: 10px;
    background-color: transparent;
    color: white;
    padding: 10px;
    
}

.searchBar:active, .searchBar:focus {
    outline: none;
}
::placeholder {
    color: var(--myDarkBlue);
    
}

/* TESTING DROPDOWN */

.dropTest {
    border: 5px solid var(--myDarkBlue);
   
}

.itemsWrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
}

.item {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    width:100%;
    text-align: center;
    
}

.dropDown {
    display: flex;
    flex-direction: column;
    position:absolute;
    list-style-type: none;
    padding-left: 0;
    background-color: black;
    margin-top: 20px;
}

.item:hover {
    background-color: black;
}
.dropDown li {
    padding: 5px;
}

.home {
    display: flex;
    flex-direction: column;
    background-color: var(--myDarkBlue);
    color: white;
    width: inherit;
}
